
/*~~~LIST STYLE~~~*/
ul{
    margin-left: 55px;
    border-left: 2px solid gray;
}

ul > li{
    padding-bottom: 10px;
}


/*~~~TABLE STYLE~~~*/
table{
    float: right;
    border: 4px solid black;
    width: auto;
    background-color: white;
    display: inline-block;
}

td{
    text-align: center;
    border: none;
}

td.title{
    font-weight: bold;
    font-size: 20pt;
    border: 3px solid black;

}

td.main{
    font-size: 14pt;
    border: 1px solid gray;
    border-bottom: 1px solid black;
}

td.sub{
    font-size: 11pt;
    background-color: lightgrey;
}

/*~~~DEFAULT PARAGRAPH STYLE~~~*/
p{
    font-size: 12pt;
}

/*~~~HEADERS AND P CHILDREN~~~*/
h1{
    line-height: 25pt;
    border-bottom: 3px solid black;
    font-weight: bolder;
    font-size: 30pt;
}

h2{
    line-height: 15pt;
    word-wrap: break-word;
    margin-top: -10px;
}

h3{
    font-size: 18pt;
    border-bottom: 3px solid black;
    display: block;
    padding-top: 20px;
}

/*Headers 4-6 have respective paragraph classes*/
h4{
    margin-left: 50px;
    font-size: 15pt;
    font-weight: bolder;
    line-height: 0px;
    padding-top: 0px;
}
p.h4{
    margin-left: 55px;
    font-size: 12pt;
    border-left: 2px solid grey;
    padding-left: 20px;
    margin-top: -10px;
}


h5{
    margin-left: 100px;
    font-size: 13pt;
    font-weight: bold;
    line-height: 0px;
    padding-top: 7px;
}
p.h5{
    margin-left: 105px;
    border-left: 2px solid gray;
    padding-left: 20px;
    margin-top: -10px
}

h6{
    margin-left: 150px;
    font-size: 12pt;
    padding-bottom: 5px;
}
p.h6{
    margin-left: 150px;
}